body{
    font-size: 12px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
table {
    border-collapse: separate;
}

table.schedule {
    border: 3px solid black;
    border-collapse: collapse;
    
    
}

div.schedule-container {
    background-color: lightgoldenrodyellow;
    padding: 20px;
    border: 6px solid black;
}
table.schedule thead{
    background-color:rgb(135, 250, 229);
   
}
table.schedule tr th{
    padding: 20px;
}
table.schedule td, th{
    padding: 8px;
    border: 3px solid black;
    text-align: center;
    

}

table.schedule tr td:nth-child(1){
    text-align: left;
    font-weight: bold;
    background-color:rgb(164, 137, 231)
}



table.schedule tfoot  {
    background-color: black;
    color: white;
}

table tbody >tr:nth-child(even){
    background-color:lightslategrey;
}